Repository cms-l1-dpg/L1MenuTools, pull requests merged in 2021-03, with the labels that each got.

#19 Restore read_excel functionality for pstools
  pstools/docs/ps-generate.md
  pstools/psutils/psio.py
  pstools/setup.sh
Labels: pstools

#21 L1Ntuples recipe
  L1Ntuples/README.md
  L1Ntuples/cmsRun.sh
  L1Ntuples/condor_sub.py
  L1Ntuples/mc.py
  L1Ntuples/nu.list
  README.md
Labels: L1Ntuples

#23 Rate Visualization Tool
  README.md
  piechart-tool/Makefile
  piechart-tool/PrescaleTable_L1Menu_no_backup_coloumn-your_ntuple.txt
  piechart-tool/README.md
  piechart-tool/fileread
  piechart-tool/fileread.C
  piechart-tool/menu_v2_1_0_rate2.txt
  piechart-tool/piechart.pdf
  piechart-tool/piemake.sh
  piechart-tool/rateTable.txt
  piechart-tool/run_323940_piechart.pdf
  piechart-tool/run_323940_ratetable.list
  piechart-tool/run_324077_piechart.pdf
  piechart-tool/run_324077_ratetable.list
  piechart-tool/run_325022_piechart.pdf
  piechart-tool/run_325022_ratetable.list
  rate-visualization/README.md
  rate-visualization/menu_v2_1_0_rate2.txt
  rate-visualization/requirements.txt
  rate-visualization/visualize.py
Labels: rate-visualization

#24 Rate visualization
  README.md
  piechart-tool/Makefile
  piechart-tool/PrescaleTable_L1Menu_no_backup_coloumn-your_ntuple.txt
  piechart-tool/README.md
  piechart-tool/fileread
  piechart-tool/fileread.C
  piechart-tool/menu_v2_1_0_rate2.txt
  piechart-tool/piechart.pdf
  piechart-tool/piemake.sh
  piechart-tool/rateTable.txt
  piechart-tool/run_323940_piechart.pdf
  piechart-tool/run_323940_ratetable.list
  piechart-tool/run_324077_piechart.pdf
  piechart-tool/run_324077_ratetable.list
  piechart-tool/run_325022_piechart.pdf
  piechart-tool/run_325022_ratetable.list
  rate-visualization/.gitignore
  rate-visualization/README.md
  rate-visualization/menu_v2_1_0_rate2.txt
  rate-visualization/requirements.txt
  rate-visualization/visualize.py
Labels: rate-visualization

#27 changes for latest rate table
  rate-visualization/rateOutput.csv
  rate-visualization/visualize.py
Labels: rate-visualization

#28 Rate visualization tool updates
  rate-visualization/.gitignore
  rate-visualization/README.md
  rate-visualization/menu_v2_1_0_rate2.txt
  rate-visualization/rateOutput.csv
  rate-visualization/visualize.py
Labels: rate-visualization

#29 fixing warning msgs
  rate-visualization/visualize.py
Labels: rate-visualization

#30 Fix misleading warnings about PS>1 seeds
  rate-visualization/visualize.py
Labels: rate-visualization

#31 Add/extend example input files, code formatting
  rate-visualization/README.md
  rate-visualization/example-inputs/output_Run2unpacked.csv
  rate-visualization/example-inputs/output_Run3MC.csv
  rate-visualization/visualize.py
Labels: rate-visualization
